* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

/* body */

.big-container {
  width: 80%;
  height: 80vh;

  display: flex;
  flex-wrap: wrap;
}
.col {
  /* default */
  background-color: red;
  border: 2px solid black;

  width: calc(100% / 7);
  height: calc(100% / 5);
}
