* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

/* body */

.big-container {
  width: 80%;
  height: 80vh;

  display: flex;
  flex-wrap: wrap;
}
.col {
  /* default */
  background-color: red;
  border: 2px solid black;
  background-image: url(https://picsum.photos/200);
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  width: calc(100% / 7);
  height: calc(100% / 5);
}

.user-name {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  background-color: rgba(58, 61, 59, 0.5);
  color: white;
}
